doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    meta(property="og:title", content=properties.title)
    meta(property="og:description", content=properties.description)

    link(rel='stylesheet', href='style/index.css')

    title=properties.title

    script(src="js/phaser.js")
    script(src="js/app.min.js")

    include analytics.jade

  body
    #game

    .socials
      a#fb_win(target='_blank', href='https://www.facebook.com/dialog/feed?app_id=547377158772591&redirect_uri=https://life.ru/998906&link=https://life.ru/998906&name=%D0%AF%20%D0%BC%D0%BE%D0%B3%D1%83%20%D1%80%D0%B0%D0%B7%D0%B3%D0%BE%D0%BD%D1%8F%D1%82%D1%8C%20%D0%BD%D0%B5%D1%81%D0%B0%D0%BD%D0%BA%D1%86%D0%B8%D0%BE%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5%20%D0%BC%D0%B8%D1%82%D0%B8%D0%BD%D0%B3%D0%B8!&href=https://life.ru/998906&picture=https://projects.life.ru/razgon/images/soc_win.png&caption=%D0%AF%20%D0%BC%D0%BE%D0%B3%D1%83%20%D1%80%D0%B0%D0%B7%D0%B3%D0%BE%D0%BD%D1%8F%D1%82%D1%8C%20%D0%BD%D0%B5%D1%81%D0%B0%D0%BD%D0%BA%D1%86%D0%B8%D0%BE%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5%20%D0%BC%D0%B8%D1%82%D0%B8%D0%BD%D0%B3%D0%B8!&description=%D0%AF%20%D0%BC%D0%BE%D0%B3%D1%83%20%D1%80%D0%B0%D0%B7%D0%B3%D0%BE%D0%BD%D1%8F%D1%82%D1%8C%20%D0%BD%D0%B5%D1%81%D0%B0%D0%BD%D0%BA%D1%86%D0%B8%D0%BE%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5%20%D0%BC%D0%B8%D1%82%D0%B8%D0%BD%D0%B3%D0%B8!')
        | fb win
      a#vk_win(target='_blank', href='https://vk.com/share.php?url=https://life.ru/998906&title=%D0%AF%20%D0%BC%D0%BE%D0%B3%D1%83%20%D1%80%D0%B0%D0%B7%D0%B3%D0%BE%D0%BD%D1%8F%D1%82%D1%8C%20%D0%BD%D0%B5%D1%81%D0%B0%D0%BD%D0%BA%D1%86%D0%B8%D0%BE%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5%20%D0%BC%D0%B8%D1%82%D0%B8%D0%BD%D0%B3%D0%B8!&description=%D0%AF%20%D0%BC%D0%BE%D0%B3%D1%83%20%D1%80%D0%B0%D0%B7%D0%B3%D0%BE%D0%BD%D1%8F%D1%82%D1%8C%20%D0%BD%D0%B5%D1%81%D0%B0%D0%BD%D0%BA%D1%86%D0%B8%D0%BE%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5%20%D0%BC%D0%B8%D1%82%D0%B8%D0%BD%D0%B3%D0%B8!&image=https://projects.life.ru/razgon/images/soc_win.png')
        | vk win
      a#ok_win(target='_blank', href='https://connect.ok.ru/dk?st.cmd=WidgetSharePreview&st.shareUrl=https://life.ru/998906&st.title=%D0%AF%20%D0%BC%D0%BE%D0%B3%D1%83%20%D1%80%D0%B0%D0%B7%D0%B3%D0%BE%D0%BD%D1%8F%D1%82%D1%8C%20%D0%BD%D0%B5%D1%81%D0%B0%D0%BD%D0%BA%D1%86%D0%B8%D0%BE%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5%20%D0%BC%D0%B8%D1%82%D0%B8%D0%BD%D0%B3%D0%B8!&st.description=%D0%AF%20%D0%BC%D0%BE%D0%B3%D1%83%20%D1%80%D0%B0%D0%B7%D0%B3%D0%BE%D0%BD%D1%8F%D1%82%D1%8C%20%D0%BD%D0%B5%D1%81%D0%B0%D0%BD%D0%BA%D1%86%D0%B8%D0%BE%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5%20%D0%BC%D0%B8%D1%82%D0%B8%D0%BD%D0%B3%D0%B8!')
        | ok win
      a#fb_lose(target='_blank', href='https://www.facebook.com/dialog/feed?app_id=547377158772591&redirect_uri=https://life.ru/998906&link=https://life.ru/998906&name=%D0%9C%D0%BD%D0%B5%20%D0%B5%D1%89%D0%B5%20%D1%80%D0%B0%D0%BD%D0%BE%20%D1%80%D0%B0%D0%B7%D0%B3%D0%BE%D0%BD%D1%8F%D1%82%D1%8C%20%D0%BD%D0%B5%D1%81%D0%B0%D0%BD%D0%BA%D1%86%D0%B8%D0%BE%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5%20%D0%BC%D0%B8%D1%82%D0%B8%D0%BD%D0%B3%D0%B8.&href=https://life.ru/998906&picture=https://projects.life.ru/razgon/images/soc_loose.png&caption=%D0%9C%D0%BD%D0%B5%20%D0%B5%D1%89%D0%B5%20%D1%80%D0%B0%D0%BD%D0%BE%20%D1%80%D0%B0%D0%B7%D0%B3%D0%BE%D0%BD%D1%8F%D1%82%D1%8C%20%D0%BD%D0%B5%D1%81%D0%B0%D0%BD%D0%BA%D1%86%D0%B8%D0%BE%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5%20%D0%BC%D0%B8%D1%82%D0%B8%D0%BD%D0%B3%D0%B8.&description=%D0%9C%D0%BD%D0%B5%20%D0%B5%D1%89%D0%B5%20%D1%80%D0%B0%D0%BD%D0%BE%20%D1%80%D0%B0%D0%B7%D0%B3%D0%BE%D0%BD%D1%8F%D1%82%D1%8C%20%D0%BD%D0%B5%D1%81%D0%B0%D0%BD%D0%BA%D1%86%D0%B8%D0%BE%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5%20%D0%BC%D0%B8%D1%82%D0%B8%D0%BD%D0%B3%D0%B8.')
        | fb lose
      a#vk_lose(target='_blank', href='https://vk.com/share.php?url=https://life.ru/998906&title=%D0%9C%D0%BD%D0%B5%20%D0%B5%D1%89%D0%B5%20%D1%80%D0%B0%D0%BD%D0%BE%20%D1%80%D0%B0%D0%B7%D0%B3%D0%BE%D0%BD%D1%8F%D1%82%D1%8C%20%D0%BD%D0%B5%D1%81%D0%B0%D0%BD%D0%BA%D1%86%D0%B8%D0%BE%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5%20%D0%BC%D0%B8%D1%82%D0%B8%D0%BD%D0%B3%D0%B8.&description=%D0%9C%D0%BD%D0%B5%20%D0%B5%D1%89%D0%B5%20%D1%80%D0%B0%D0%BD%D0%BE%20%D1%80%D0%B0%D0%B7%D0%B3%D0%BE%D0%BD%D1%8F%D1%82%D1%8C%20%D0%BD%D0%B5%D1%81%D0%B0%D0%BD%D0%BA%D1%86%D0%B8%D0%BE%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5%20%D0%BC%D0%B8%D1%82%D0%B8%D0%BD%D0%B3%D0%B8.&image=https://projects.life.ru/razgon/images/soc_loose.png')
        | vk lose
      a#ok_lose(target='_blank', href='https://connect.ok.ru/dk?st.cmd=WidgetSharePreview&st.shareUrl=https://life.ru/998906&st.title=%D0%9C%D0%BD%D0%B5%20%D0%B5%D1%89%D0%B5%20%D1%80%D0%B0%D0%BD%D0%BE%20%D1%80%D0%B0%D0%B7%D0%B3%D0%BE%D0%BD%D1%8F%D1%82%D1%8C%20%D0%BD%D0%B5%D1%81%D0%B0%D0%BD%D0%BA%D1%86%D0%B8%D0%BE%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5%20%D0%BC%D0%B8%D1%82%D0%B8%D0%BD%D0%B3%D0%B8.&st.description=%D0%9C%D0%BD%D0%B5%20%D0%B5%D1%89%D0%B5%20%D1%80%D0%B0%D0%BD%D0%BE%20%D1%80%D0%B0%D0%B7%D0%B3%D0%BE%D0%BD%D1%8F%D1%82%D1%8C%20%D0%BD%D0%B5%D1%81%D0%B0%D0%BD%D0%BA%D1%86%D0%B8%D0%BE%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5%20%D0%BC%D0%B8%D1%82%D0%B8%D0%BD%D0%B3%D0%B8.')
        | ok lose


    if (!productionBuild)
      script.
        document.write('<script src="//' + window.location.hostname + ':#{properties.liveReloadPort}/livereload.js"><\/script>');
